<div class="page-header">
  <h1>Questionnaire #<%= @questionnaire.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @questionnaire.user_id %></dd>

  <dt>Respondent</dt>
  <dd><%= @questionnaire.respondent_id %></dd>

</dl>

<table class="table table-striped table hover"> Comments
<br>


<tr>
  <td>
    <%#= @answer.answer_1%>
    <%#= @answer.answer_2%>
    <%#= @answer.answer_3%>
    <%#= @answer.answer_4%>
    <%#= @answer.answer_5%>

    </td>
  </tr>


</table>
